
    <!-- =========================== 11. Footer Section =========================================== -->

    <section class="footer-area">
        <div class="container position-relative">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-9">
                    <a href="/contact"><h2>Contact Us</h2></a>
                    <p>+233 54 179 9280<br>info@digitalprimegh.com <br>Fiapa Close, Spintex<br>Accra, Ghana <br>Open
                        hours: 8.00am-.600pm Mon-Sat</p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-9">
                    <h2>Important</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="/portfolio">Work</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/faq">Support</a></li>
                        <li><a href="/about">Privacy</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9 col-12">
                    <h2>Our Newsletter</h2>
                    <p>Subscribe to our mailing list to get the up dates to your email inbox</p>
                    <form action="/">
                        <input type="email" placeholder="E-mail">
                        <input type="submit" value="Subscribe">
                    </form>
                    <div class="footer-social mt-30">
                        <a href="https://web.facebook.com/digitalprimegh" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/digitalprimegh" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/digitalprimegh/" target="_bank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UCVcGQyrTMoVeRbhJl71EQGQ" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <a class="go-to-top" href="#"><i class="fas fa-chevron-up"></i></a>
            </div>
        </div>
    </section>

    <!-- =========================== 12. Copyright Section =========================================== -->

    <div class="container text-center copyright">
        <p> Created and Developed by <a href="http://digitalprimegh.com" target="_blank" class="link">Digital Prime. </a> Copyright ©<script>document.write(new Date().getFullYear())</script>. All Rights Reserved</p>
    </div>

    <!-- All JS -->
    <script src="js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/all.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/jquery.meanmenu.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script src="js/main.js"></script>