    <!-- =========================== 1. Top Header Section =========================================== -->

    <div class="top-header d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-4 col-lg-5 col-md-6 col-12">
                    <div class="top-header-contact">
                        <a href="tel:+1(718)73493">
                            <i class="fas fa-phone-alt"></i>+233541799280
                        </a>
                    </div>
                    <div class="top-header-contact">
                        <a href="mailto:info@example.com">
                            <i class="fas fa-envelope"></i>info@digitalprimegh.com
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-0 text-right top-header-social">
                    <a href="https://web.facebook.com/digitalprimegh" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/digitalprimegh" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/digitalprimegh/" target="_bank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCVcGQyrTMoVeRbhJl71EQGQ" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- =========================== 2. Menu Section =========================================== -->

<div class="menu-header fixme d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-2 d-flex align-items-center">
                <a href="/"><img class="logo" src="images/logo/site-logo/logo.png" alt="Digital Prime"></a>
            </div>
            <div class="col-10 d-flex align-items-center">
                <nav id="mobile-menu" class="menu-area d-lg-flex align-items-center ml-auto">
                    <ul>
                        <li class="current-menu-item">
                            <a href="/">Home</a>
                        </li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="/portfolio">Pages</a>
                            <ul>
                                <li><a href="/portfolio">Portfolio</a></li>
                                <li><a href="/faq">FAQ</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                    </ul>
                </nav>
                <div class="mobile-menu"></div>
            </div>
        </div>
    </div>
</div>