<!-- Preloader -->
<div class="preloader">
    <div class="loader">
        <span>L</span>
        <span>O</span>
        <span>A</span>
        <span>D</span>
        <span>I</span>
        <span>N</span>
        <span>G</span>

        <div class="covers">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>

{{> _topheader}}

<!-- =========================== 3. Page Header Section =========================================== -->

<div class="page-header">
    <div class="about-banner-shape-left wow animate__animated animate__fadeInLeft">
        <img src="images/shapes/03_shape-01.png" class="wow animate__animated animate__pulse animate__infinite"
            alt="Digita Prime">
    </div>
    <div class="about-banner-shape-right wow animate__animated animate__fadeInRight animate__delay-1s">
        <img src="images/shapes/03_shape-02.png" class="wow animate__animated animate__pulse animate__infinite"
            alt="Digita Prime">
    </div>
    <div class="container">
        <div class="page-header-text wow animate__animated animate__fadeInDown">
            <h1 class="page-title">Blog</h1>
            <span>Home</span>
            <span class="span-divider font-weight-bold">|</span>
            <span class="font-weight-bold">News</span>
            <div class="page-banner-shape-title">
                <img src="images/shapes/03_shape-03.png"
                    class="wow animate__animated animate__fadeInUp animate__delay-1s" alt="">
            </div>
        </div>
    </div>
</div>

<!-- =========================== 4. Blog Section =========================================== -->

<section class="blog-area">
    <div class="container">
        <div class="section-heading text-center mx-auto">
            <h2>Latest Posts</h2>
            <p>We have people of multiple kind in the house. Together we can provide high quality work to satisfy
                you.</p>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-8 offset-lg-0 offset-md-2">
                <div class="post">
                    <div class="post-thumbnail">
                        <a href="blog-details.html"><img src="images/blog/post-01.png" alt="Digita Prime"></a>
                    </div>
                    <div class="post-excerpt">
                        <a href="blog.html">News</a>
                        <h2><a href="blog-details.html">Why you should hire UI/UX Guy before work.</a></h2>
                        <p>Lorem ipsum, dolor sit amet conse cte tur adipisicing elit. Vitae ipsam provi dent ut
                            quod esse iste quam corrupti.</p>
                        <hr>
                        <div class="post-extra">
                            <p>Feb 22, 2017</p>
                            <a href="blog-details.html"><i class="fas fa-long-arrow-alt-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-8 offset-lg-0 offset-md-2">
                <div class="post">
                    <div class="post-thumbnail">
                        <a href="blog-details.html"><img src="images/blog/post-02.png" alt="Digita Prime"></a>
                    </div>
                    <div class="post-excerpt">
                        <a href="blog.html">News</a>
                        <h2><a href="blog-details.html">A good website starts with a good idea and great people.</a>
                        </h2>
                        <p>Lorem ipsum, dolor sit amet conse cte tur adipisicing elit. Vitae ipsam provi dent ut
                            quod esse iste quam corrupti.</p>
                        <hr>
                        <div class="post-extra">
                            <p>Feb 22, 2017</p>
                            <a href="blog-details.html"><i class="fas fa-long-arrow-alt-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-8 offset-lg-0 offset-md-2">
                <div class="post">
                    <div class="post-thumbnail">
                        <a href="blog-details.html"><img src="images/blog/post-03.png" alt="Digita Prime"></a>
                    </div>
                    <div class="post-excerpt">
                        <a href="blog.html">News</a>
                        <h2><a href="blog-details.html">A good website starts with a good idea and great people.</a>
                        </h2>
                        <p>Lorem ipsum, dolor sit amet conse cte tur adipisicing elit. Vitae ipsam provi dent ut
                            quod esse iste quam corrupti.</p>
                        <hr>
                        <div class="post-extra">
                            <p>Feb 22, 2017</p>
                            <a href="blog-details.html"><i class="fas fa-long-arrow-alt-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-8 offset-lg-0 offset-md-2">
                <div class="post">
                    <div class="post-thumbnail">
                        <a href="blog-details.html"><img src="images/blog/post-04.png" alt="Digita Prime"></a>
                    </div>
                    <div class="post-excerpt">
                        <a href="blog.html">News</a>
                        <h2><a href="blog-details.html">Why you should hire UI/UX Guy before work.</a></h2>
                        <p>Lorem ipsum, dolor sit amet conse cte tur adipisicing elit. Vitae ipsam provi dent ut
                            quod esse iste quam corrupti.</p>
                        <hr>
                        <div class="post-extra">
                            <p>Feb 22, 2017</p>
                            <a href="blog-details.html"><i class="fas fa-long-arrow-alt-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-8 offset-lg-0 offset-md-2">
                <div class="post">
                    <div class="post-thumbnail">
                        <a href="blog-details.html"><img src="images/blog/post-05.png" alt="Digita Prime"></a>
                    </div>
                    <div class="post-excerpt">
                        <a href="blog.html">News</a>
                        <h2><a href="blog-details.html">A good website starts with a good idea and great people.</a>
                        </h2>
                        <p>Lorem ipsum, dolor sit amet conse cte tur adipisicing elit. Vitae ipsam provi dent ut
                            quod esse iste quam corrupti.</p>
                        <hr>
                        <div class="post-extra">
                            <p>Feb 22, 2017</p>
                            <a href="blog-details.html"><i class="fas fa-long-arrow-alt-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-8 offset-lg-0 offset-md-2">
                <div class="post">
                    <div class="post-thumbnail">
                        <a href="blog-details.html"><img src="images/blog/post-06.png" alt="Digita Prime"></a>
                    </div>
                    <div class="post-excerpt">
                        <a href="blog.html">News</a>
                        <h2><a href="blog-details.html">A good website starts with a good idea and great people.</a>
                        </h2>
                        <p>Lorem ipsum, dolor sit amet conse cte tur adipisicing elit. Vitae ipsam provi dent ut
                            quod esse iste quam corrupti.</p>
                        <hr>
                        <div class="post-extra">
                            <p>Feb 22, 2017</p>
                            <a href="blog-details.html"><i class="fas fa-long-arrow-alt-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-8 offset-lg-0 offset-md-2">
                <div class="post">
                    <div class="post-thumbnail">
                        <a href="blog-details.html"><img src="images/blog/post-07.png" alt="Digita Prime"></a>
                    </div>
                    <div class="post-excerpt">
                        <a href="blog.html">News</a>
                        <h2><a href="blog-details.html">Why you should hire UI/UX Guy before work.</a></h2>
                        <p>Lorem ipsum, dolor sit amet conse cte tur adipisicing elit. Vitae ipsam provi dent ut
                            quod esse iste quam corrupti.</p>
                        <hr>
                        <div class="post-extra">
                            <p>Feb 22, 2017</p>
                            <a href="blog-details.html"><i class="fas fa-long-arrow-alt-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-8 offset-lg-0 offset-md-2">
                <div class="post">
                    <div class="post-thumbnail">
                        <a href="blog-details.html"><img src="images/blog/post-08.png" alt="Digita Prime"></a>
                    </div>
                    <div class="post-excerpt">
                        <a href="blog.html">News</a>
                        <h2><a href="blog-details.html">A good website starts with a good idea and great people.</a>
                        </h2>
                        <p>Lorem ipsum, dolor sit amet conse cte tur adipisicing elit. Vitae ipsam provi dent ut
                            quod esse iste quam corrupti.</p>
                        <hr>
                        <div class="post-extra">
                            <p>Feb 22, 2017</p>
                            <a href="blog-details.html"><i class="fas fa-long-arrow-alt-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-8 offset-lg-0 offset-md-2">
                <div class="post">
                    <div class="post-thumbnail">
                        <a href="blog-details.html"><img src="images/blog/post-09.png" alt="Digita Prime"></a>
                    </div>
                    <div class="post-excerpt">
                        <a href="blog.html">News</a>
                        <h2><a href="blog-details.html">A good website starts with a good idea and great people.</a>
                        </h2>
                        <p>Lorem ipsum, dolor sit amet conse cte tur adipisicing elit. Vitae ipsam provi dent ut
                            quod esse iste quam corrupti.</p>
                        <hr>
                        <div class="post-extra">
                            <p>Feb 22, 2017</p>
                            <a href="blog-details.html"><i class="fas fa-long-arrow-alt-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-auto mt-60">
                <a href="blog.html" class="wow animate__animated animate__flipInX large-blue-button load-more">Load
                    More</a>
            </div>
        </div>
    </div>
</section>

<!-- =========================== 5. Subscribe Section =========================================== -->

<div class="custom-projects">
    <div class="container d-lg-flex align-items-center">
        <div class="section-heading">
            <h1>Subscribe</h1>
            <p>We have people of multiple kind in the house. Together we can provide high quality work to satisfy
                you. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="subscribe-form">
            <form action="#">
                <input type="email" placeholder="INFO@EXAMPLE.COM">
            </form>
        </div>
    </div>
    <div class="custom-projects-shape-2">
        <img src="images/shapes/shape-02.png" alt="Digita Prime">
    </div>
    <div class="custom-projects-circle-1">
        <img src="images/shapes/shape-circle.png" class="wow animate__animated animate__pulse animate__infinite"
            alt="Digita Prime">
    </div>
    <div class="custom-projects-circle-2">
        <img src="images/shapes/shape-circle.png" alt="Digita Prime">
    </div>
    <div class="custom-projects-circle-3">
        <img src="images/shapes/shape-circle.png" class="wow animate__animated animate__pulse animate__infinite"
            alt="Digita Prime">
    </div>
    <div class="custom-projects-circle-4"></div>
</div>
<!-- WhatsApp section -->
<a href="https://api.whatsapp.com/send?phone=233541799280" class="float" target="_blank">
    <i class="fab fa-whatsapp fa-2x my-float"></i>
    <span class="whatsapp">WhatsApp</span>
</a>
<!-- End of WhatsApp section -->
{{> _footer}}